.site-header {
  width: 100%;
  max-width: 800px;
  padding: var(--spacing-small) var(--spacing-small);
  border-bottom: 1px solid var(--color-light-gray);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
}

.site-header__title-link {
  justify-self: start;
}

.page-header__title-link {
  justify-self: center;
}

.site-header__nav {
  justify-self: end;
}

.site-header__title {
  font-weight: 400;
}

.page-header__title {
  font-weight: 500;
}

.site-header__nav-list {
  display: flex;
  gap: var(--spacing-medium);
}

.active-link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.site-header__nav-list li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 640px) {
  .page-header__title {
    display: none;
  }
}
