.blogpost-main {
  max-width: 600px;
  padding: var(--spacing-large) var(--spacing-small) var(--spacing-medium) var(--spacing-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
}

.blogpost {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

/* BLOGPOST HEADER */
.blogpost__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

/* BLOGPOST-DETAILS */
.blogpost__details-container {
  width: 100%;
  padding: var(--spacing-small) 0;
  border-top: 2px solid var(--color-light-gray);
  border-bottom: 2px solid var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark-gray);
}

.blogpost__date-readtime-container {
  width: 100%;
  display: flex;
  gap: var(--spacing-medium);
}

.blogpost__date_container,
.blogpost__readtime-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-small);
}

.blogpost__share-button {
  padding: var(--spacing-x-small);
  border: none;
  border-radius: var(--spacing-small);
  background-color: transparent;
}

.blogpost__share-button:hover {
  background-color: var(--color-medium-gray);
}

/* BLOGPOST CONTENT */
.blogpost__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.blogpost__content h2 {
  font-weight: 400;
  color: var(--color-dark-gray);
}

.blogpost__content h3 {
  padding-top: var(--spacing-medium);
}

.blogpost__content figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-gray);
}

.img-small {
  padding: var(--spacing-small) 0;
  width: 80%;
}

.img-standard {
  padding: var(--spacing-small) 0;
  width: 100%;
}
